body {
    margin: 0 auto;
    overflow: hidden;
}
canvas {
    border: 0 solid black;
    position: fixed;
    left: 0;
    top: 0;
}
canvas.main {
    position: fixed;
    left: 0;
    top: 0;
}
canvas.off-screen {
    position: fixed;
    left: -5000px;
}
#donation-total {
    font: small-caps 60px 'DejaVu Sans', sans-serif;
    position: fixed;
    top:7px;
    left: 0;
    width: 320px;
    color: white;
    text-align: center;
}
#donation-total-dollar-sign {
    position: relative;
    top: -7px;
    font: small-caps 45px 'DejaVu Sans', sans-serif;
}
#local-time {
    font: small-caps 60px 'DejaVu Sans', sans-serif;
    position: fixed;
    top:10px;
    left: 1260px;
    width: 250px;
    color: white;
    text-align: center;
}
#local-time-ampm {
    position: relative;
    top: 11px;
    font: small-caps 40px 'DejaVu Sans Mono', monospace;
}
#tester {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color:green;
    height:1080px;
    width:1920px;
    z-index:-1000;
    /*transform: scale(5.5);*/
    font: small-caps bold 24px/1 "DejaVu Sans", sans-serif;
    color: black;
}